<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.home.sample_app"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.title"), root_path %></li>
        <li><%= link_to t("static_pages.help.title"), help_path %></li>
        <li><%= link_to t("static_pages.about.title"), about_path %></li>
        <li><%= link_to t("static_pages.contact.title"), contact_path %></li>
        <li><%= link_to t("users.new.title"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
